@page "/"
<PageTitle>Home</PageTitle>

<div class="min-h-screen bg-gray-900 font-sans flex items-center justify-center p-4">
    @if (isLoggedIn)
    {

        <DashboardComponent LoggedInOwner="loggedInOwner" />
    }
    else
    {
        <AuthComponent OnAuthSuccess="HandleLoginSuccess" />
    }
</div>